#!/bin/bash
echo "start: chezmoi install script"

# bundle multiple formulas (text/CLI) and casks (graphical) into a single installation command
{{ if eq .chezmoi.os "darwin" -}}
    echo "install: brew bundle"
    brew bundle --file=/dev/stdin <<EOF
    {{ range .packages.darwin.taps }}
        tap {{ . | quote }}
    {{ end }}
    {{ range .packages.darwin.brews }}
        brew {{ . | quote }}
    {{ end }}
    {{ range .packages.darwin.casks }}
        cask {{ . | quote }}
    {{ end }}
EOF
# no whitespace before EOF
{{ end -}}

# emacs-builds https://github.com/jimeh/emacs-builds
# v30 whereas emacs-mac is v29
# supports ARM apple silicon instructions
echo "install: emacs"
#brew tap jimeh/emacs-builds
#brew install --cask jimeh/emacs-builds/emacs-app
# after install instructions
#Use Emacs.app as emacs CLI Tool
#Installed via Homebrew Cask
#The cask installation method sets up CLI usage automatically by exposing a emacs command. However it will launch Emacs into GUI mode. To instead have emacs in your terminal open a terminal instance of Emacs, add the following alias to your shell setup:
#alias emacs="emacs -nw"
echo "installed: emacs"

# doom
## required dependencies
echo "install: doom deps"
#brew install git ripgrep # in bundle above
# optional dependencies
# brew install coreutils fd # in bundle above
# xcode-select --install # TODO write code to detect if it's already installed
echo "installed: doom deps"
#
## install
echo "install: doom"
#git clone https://github.com/hlissner/doom-emacs ~/.emacs.d
#~/.emacs.d/bin/doom install
echo "installed: doom"

echo "install: oh-my-zsh"

echo "installed: oh-my-zsh"

echo "*** End of Chezmoi install-packages script"
